
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root
{
--White:hsl(0, 0%, 100%);
--Slightlytransparentwhit1: hsla(0, 0%, 100%, 0.75);
--Slightlytransparentwhite: hsla(0, 0%, 100%, 0.6);
--Verydarkblue: hsl(233, 47%, 7%);
--Darkdesaturatedblue: hsl(244, 38%, 16%);
--Softviolet: hsl(277, 64%, 61%);
--Fontsize:15px;
--Softviolet1: hsl(277, 65%, 40%);
}

.main{
    background-color: var(--Verydarkblue);
    height:100vh;
    padding:2rem;
    display: flex;
    align-items: center;
justify-content: center;
}

.container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: var(--Darkdesaturatedblue);
max-width: 15rem;
/* max-height:40rem; */
overflow: hidden;
border-radius: 8px;
padding-bottom:0.8rem;
}

.picture{
width:100%;
display: flex;
align-items: center;
justify-content: center;
position: relative;
margin-bottom:0.7rem;

}
.filter{
    position:absolute;
    width:100%;
    height:100%;
    background-color:var(--Softviolet1);
    opacity: 0.5;
    filter: contrast(120%);
}
.picture img{
    width: 100%;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:1.5rem;
    margin-right:1.5rem;
    width:100%;
    padding-left:1rem;
    padding-right: 1rem;
}

.text h2{
    font-size: 1.4em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color:var(--White);
    text-align: center;
    margin-top:1rem;
}
.head{
    margin-bottom:1rem;
}
.text p{
    text-align:center;
    color:white;
    font-family:'Lexend Deca', sans-serif;
    color:var(--Slightlytransparentwhit1);
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;

}
.head span{
    color:var(--Softviolet);
}
.companies h2{
    font-size: 1.2rem;
}
.companies p{
    text-transform: uppercase;
    font-size: 0.7rem;
    color:var(--Slightlytransparentwhite);
}
.companies{
    text-align: center;
}

@media (min-width:800px)
{
    .main{
        display:flex;
        height:100vh;
        align-items: center;
        align-content: center;
    }
    .container{
        /* display: flex;
        flex-direction: row-reverse;
        justify-content:center;
        align-items: center;
        border:1px solid yellow;
        max-height: 50vh;
        max-width: 80vw;
        padding: 0px; */
        display:grid;
        max-width: 55rem;
        /* max-height: 19rem; */
        /* height:45vh; */
        padding:0px;
        grid-template-columns: 50% 50%;
        place-content: center;
    }
    .picture{
        grid-column-start: 2;
        /* border:1px solid yellow; */
        margin:0px;
        height:100%;
        width:100%;
    }
    .picture img{
        height:100%;
    }
    .text{
        grid-row-start: 1;
        margin:0;
        width:100%;
        height:100%;
        padding-left:3rem;
        padding-right:4rem;
    }
    .text p{
        font-size: 0.8rem;
        font-family: 'Inter', sans-serif;
        text-align: left;
    }
    .text h2{
        text-align:left;
    }
    .head{
        font-size: 1.2rem;
    }
    .companies h2{
        font-size: 1.1rem;
    }
    .companies1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:100%;
    margin-top: 2rem;

    }
    .companies1 p{
        font-size: 0.6rem;
    }
    /* .picture{
        border: 1px solid wheat;
        height: 100%;
        margin:0px;
        padding: 0;
        width: 50% !important;
        padding:0px !important;
    }
    .picture img{
        height:100%;
    }
    .text{
        border: 1px solid yellow;
        margin:auto 2.3rem;
        width:50% !important;
    }
    .companies1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width:100%;

    } */
}